FORMAT: 1A
HOST: http://www.google.com

# ICGMMocks
Notes API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Notes
Notes related resources of the **Notes API**

## HELP Request a call [/requestacall{?soeId}]
### Request a call [GET]
+ Response 200 (application/json)

        {
            "answers" : [
                        {
                    "displayName" : "Algeria",
                    "name" : "DZ"
                },
                        {
                    "displayName" : "Austria",
                    "name" : "AT"
                },
                        {
                    "displayName" : "Bahrain",
                    "name" : "BH"
                },
                        {
                    "displayName" : "Belgium",
                    "name" : "BE"
                },
                        {
                    "displayName" : "Zambia",
                    "name" : "ZM"
                },
                        {
                    "displayName" : "Congo",
                    "name" : "CG"
                },
                        {
                    "displayName" : "Denmark",
                    "name" : "DK"
                },
                        {
                    "displayName" : "Egypt",
                    "name" : "EG"
                },
                        {
                    "displayName" : "Finland",
                    "name" : "FI"
                },
                        {
                    "displayName" : "Pakistan",
                    "name" : "PK"
                },
                        {
                    "displayName" : "Hungary",
                    "name" : "HU"
                },
                        {
                    "displayName" : "France",
                    "name" : "FR"
                },
                        {
                    "displayName" : "Germany",
                    "name" : "DE"
                },
                        {
                    "displayName" : "Greece",
                    "name" : "GR"
                },
                        {
                    "displayName" : "Ireland",
                    "name" : "IE"
                },
                        {
                    "displayName" : "Israel",
                    "name" : "IL"
                },
                        {
                    "displayName" : "Gabon",
                    "name" : "GA"
                },
                        {
                    "displayName" : "Cameroon",
                    "name" : "CM"
                },
                        {
                    "displayName" : "Italy",
                    "name" : "IT"
                },
                        {
                    "displayName" : "South Africa",
                    "name" : "ZA"
                },
                        {
                    "displayName" : "Uganda",
                    "name" : "UG"
                },
                        {
                    "displayName" : "Kenya",
                    "name" : "KE"
                },
                        {
                    "displayName" : "Ivory Coast",
                    "name" : "CI"
                },
                        {
                    "displayName" : "Jersey",
                    "name" : "JE"
                },
                        {
                    "displayName" : "Jordan",
                    "name" : "JO"
                },
                        {
                    "displayName" : "Kuwait",
                    "name" : "KW"
                },
                        {
                    "displayName" : "Lebanon",
                    "name" : "LB"
                },
                        {
                    "displayName" : "Luxembourg",
                    "name" : "LU"
                },
                        {
                    "displayName" : "Morocco",
                    "name" : "MA"
                },
                        {
                    "displayName" : "Netherlands",
                    "name" : "NL"
                },
                        {
                    "displayName" : "Nigeria",
                    "name" : "NG"
                },
                        {
                    "displayName" : "Norway",
                    "name" : "NO"
                },
                        {
                    "displayName" : "Poland",
                    "name" : "PL"
                },
                        {
                    "displayName" : "Portugal",
                    "name" : "PT"
                },
                        {
                    "displayName" : "Qatar",
                    "name" : "QA"
                },
                        {
                    "displayName" : "Senegal",
                    "name" : "SN"
                },
                        {
                    "displayName" : "Romania",
                    "name" : "RO"
                },
                        {
                    "displayName" : "Kazakhstan",
                    "name" : "KZ"
                },
                        {
                    "displayName" : "Russia",
                    "name" : "RU"
                },
                        {
                    "displayName" : "Spain",
                    "name" : "ES"
                },
                        {
                    "displayName" : "Slovakia",
                    "name" : "SK"
                },
                        {
                    "displayName" : "Sweden",
                    "name" : "SE"
                },
                        {
                    "displayName" : "Switzerland",
                    "name" : "SZ"
                },
                        {
                    "displayName" : "Tanzania",
                    "name" : "TZ"
                },
                        {
                    "displayName" : "Tunisia",
                    "name" : "TN"
                },
                        {
                    "displayName" : "Turkey",
                    "name" : "TR"
                },
                        {
                    "displayName" : "Ukraine",
                    "name" : "UA"
                },
                        {
                    "displayName" : "UAE",
                    "name" : "AE"
                },
                        {
                    "displayName" : "United Kingdom",
                    "name" : "GB"
                },
                        {
                    "displayName" : "USA",
                    "name" : "US"
                },
                        {
                    "displayName" : "Canada",
                    "name" : "CA"
                }
            ],
            "crmLink" : "",
            "instructionCode" : "",
            "questionCode" : "Q1,
            "questionText" : "Where do I live?",
            "questionType" : "DROPDOWN",
            "required" : 1,
            "templateCode" : "",
            "value" : "UA"

        }


## HELP FAQ [/FAQ]
### List all Notes [GET]
+ Response 200 (application/json)

[
    {
       "identifier" : "1",
        "question" : "What are the file types and maximum size allowed for the supporting documents?",
        "details" : "<html><body><p>You will be able to upload the following types of files: PDF, doc, xls, CSV, PPT, rtf, msg, tiff, jpg, jpeg and gif. The file size can be up to 5 MB for supporting documents</p></body></html>"
    },
    {
       "identifier" : "2",
        "question" : "What actions can I perform in Account Management?",
        "details" : "<html><body><p>You can perform Modify Accounts, Close Accounts, and Open Accounts</p></body></html>"
    },
    {
       "identifier" : "3",
        "question" : "How are account numbers assigned?",
        "details" : "<html><body><p>When you submit an account opening request in eBAM, Citi operations initially may issue a reserved account number for the request and communicate back to you offline. Once the account request is fulfilled, eBAM is updated with the account number</p></body></html>"
    },
        {
       "identifier" : "4",
        "question" : "Can I have the same account name in the same Branch with the same currency?",
        "details" : "<html><body><p>Yes, but each one will need to have a different account number</p></body></html>"
    },
        {
       "identifier" : "5",
        "question" : "How many accounts can I associate to one billing address?",
        "details" : "<html><body><p>Currently, there is no limit to the number of accounts that you can associate to a billing address</p></body></html>"
    },
        {
       "identifier" : "6",
        "question" : "How many characters can I use in an account name?",
        "details" : "<html><body><p>195 characters</p></body></html>"
    },
        {
       "identifier" : "7",
        "question" : "Are there any documents I need to provide when assigning a Designated Authorizer?",
        "details" : "<html><body><p>Yes, they are a part of the document checklist for Designated Authorizer assignment</p></body></html>"
    },
        {
       "identifier" : "8",
        "question" : "What happens when I delete an Operating Signer from an account?",
        "details" : "<html><body><p>Deleting an Operating Signer from an account is the same as un-assigning a signer from an account. Select the Operating Signer for an account and un-assign him/her from that account by clicking the un-assign button</p></body></html>"
    },
        {
       "identifier" : "9",
        "question" : "Can I add multiple Operating Signers to multiple Accounts at the same time?",
        "details" : "<html><body><p>Yes, you can add multiple Operating Signers to multiple Accounts at the same time</p></body></html>"
    },
        {
       "identifier" : "10",
        "question" : "If a request is submitted to assign 20 Operating Signers to one account, how many requests will need to be approved?",
        "details" : "<html><body><p>If the Operating Signer assignment for this account is submitted via one request, the Designated Authorizer will only need to approve one request</p></body></html>"
    },
        {
       "identifier" : "11",
        "question" : "During Signature Card setup, is ink signing a PDF and/or uploading the Signature Card a onetime activity?",
        "details" : "<html><body><p>Signature Card setup is a onetime activity performed during Implementation. Any changes to the user name and/or signature should be treated as a new Operating Signer and will require a new Signature Card</p></body></html>"
    },
        {
       "identifier" : "12",
        "question" : "How I can verify the status of the Signature Card set up process?",
        "details" : "<html><body><p>You can use the status on the dashboard to see when the signature card is submitted, approved/rejected, completed</p></body></html>"
    },
        {
       "identifier" : "13",
        "question" : "Can there be multiple users selected for the Signature Card set up at a time?",
        "details" : "<html><body><p>No, you would need to set up one user at a time</p></body></html>"
    },         
        {
       "identifier" : "14",
        "question" : "Who approves the Signature Card setup request?",
        "details" : "<html><body><p>The Security Officer will approve the Signature Card setup request</p></body></html>"
    }, 
        {
       "identifier" : "15",
        "question" : "Can I approve my own request?",
        "details" : "<html><body><p>No, you cannot approve a request that you have initiated</p></body></html>"
    },
        {
       "identifier" : "16",
        "question" : "What is a MIFT Signer?",
        "details" : "<html><body><p>A Manually Initiated Funds Transfer (Contingency) Signer is a designated signer assigned to an account(s) and is authorized to manually instruct Citi to move funds from this account</p></body></html>"
    },
        {
       "identifier" : "17",
        "question" : "What is a Call Back Nominee?",
        "details" : "<html><body><p>A Call Back Nominee is a person associated with a MIFT Signer. He/she is designated for confirmation of a MIFT Payment instructions initiated by a MIFT Signer to whom he/she is assigned as a Nominee</p></body></html>"
    }            
]
        
## HELP Procedure [/procedure]
### List all Notes [GET]
+ Response 200 (application/json)

        [
            {
               "identifier" : "10",
                "question" : "question12",
                "details" : "<html><body><p>test HTML 12.</p></body></html>"
            },
            {
               "identifier" : "12",
                "question" : "question22",
                "details" : "<html><body><p>test HTML 123.</p></body></html>"
            },
            {
               "identifier" : "30",
                "question" : "question32",
                "details" : "<html><body><p>test HTML.34</p></body></html>"
            }
        ]

## HELP WHOo TOO CALL [/helphowtoocall]
### List all Notes [GET]
+ Response 200 (application/json)

        [
            {"identifier" : "1",
            "name" : "question1",
            "regions" : 
            [
                {
                    "identifier" : "1",
                    "name" : "region 2",
                    "contacts" : { "mail" : "mail1@citi.com", "tel" : "1234567"}
                },
                {
                    "identifier" : "2",
                    "name" : "region 2",
                    "contacts" : { "mail" : "mail2@citi.com", "tel" : "1234567"}
                },
                {
                    "identifier" : "3",
                    "name" : "region 3",
                    "contacts" : { "mail" : "mail3@citi.com", "tel" : "1234567"}
                }
            ]},
            {"identifier" : "2",
            "name" : "question32",
            "regions" : 
            [
                {
                    "identifier" : "4",
                    "name" : "region 4",
                    "contacts" : { "mail" : "mail1@citi.com", "tel" : "1234567"}
                },
                {
                    "identifier" : "5",
                    "name" : "region 5",
                    "contacts" : { "mail" : "mail2@citi.com", "tel" : "1234567"}
                },
                {
                    "identifier" : "6",
                    "name" : "region 6",
                    "contacts" : { "mail" : "mail3@citi.com", "tel" : "1234567"}
                }
            ]},
            {"identifier" : "3",
            "name" : "question1",
            "regions" : 
            [
                {
                    "identifier" : "7",
                    "name" : "region 7",
                    "contacts" : { "mail" : "mail1@citi.com", "tel" : "1234567"}
                },
                {
                    "identifier" : "8",
                    "name" : "region 8",
                    "contacts" : { "mail" : "mail2@citi.com", "tel" : "1234567"}
                },
                {
                    "identifier" : "9",
                    "name" : "region 9",
                    "contacts" : { "mail" : "mail3@citi.com", "tel" : "1234567"}
                }
            ]}
        ]
                

## Global Regions [/regions]
### List all Notes [GET]
+ Response 200 (application/json)

        [
            {
                "identifier" : 1,
                "name" : "EMEA",
                "requests" : 1200,
                "location" : {"lat" : 48.122632, "long" : 14.604547},
            "subregions":
            [
                {
                    "identifier" : 101,
                    "name" : "Algeria",
                    "regionSymbol" : "\u00D4",
                },
                {
                    "identifier" : 102,
                    "name" : "Austria",
                    "regionSymbol" : "\u00F0",
                },
                {
                    "identifier" : 103,
                    "name" : "Bahrain",
                    "regionSymbol" : "\u00F8",
                },
                {
                    "identifier" : 104,
                    "name" : "Belgium",
                    "regionSymbol" : "\u0100",
                },
                {
                    "identifier" : 105,
                    "name" : "Bulgaria",
                    "regionSymbol" : "\u012C",
                },
                {
                    "identifier" : 106,
                    "name" : "Cameroon",
                    "regionSymbol" : "\u0140",
                },
                {
                    "identifier" : 107,
                    "name" : "Congo",
                    "regionSymbol" : "\u017A",
                },
                {
                    "identifier" : 108,
                    "name" : "Czech Republic",
                    "regionSymbol" : "\u0193",
                },
                {
                    "identifier" : 109,
                    "name" : "Denmark",
                    "regionSymbol" : "\u0198",
                },
                {
                    "identifier" : 110,
                    "name" : "Egypt",
                    "regionSymbol" : "\u03FA",
                },
                {
                    "identifier" : 111,
                    "name" : "Finland",
                    "regionSymbol" : "\u01BE",
                },
                {
                    "identifier" : 112,
                    "name" : "France",
                    "regionSymbol" : "\u01C2",
                },
                {
                    "identifier" : 113,
                    "name" : "Gabon",
                    "regionSymbol" : "\u01D2",
                },
                {
                    "identifier" : 114,
                    "name" : "Germany",
                    "regionSymbol" : "\u01DC",
                },
                {
                    "identifier" : 115,
                    "name" : "Greece",
                    "regionSymbol" : "\u01F4",
                },
                {
                    "identifier" : 116,
                    "name" : "Ireland",
                    "regionSymbol" : "\u023C",
                },
                {
                    "identifier" : 117,
                    "name" : "Israel",
                    "regionSymbol" : "\u0240",
                },
                {
                    "identifier" : 118,
                    "name" : "Italy",
                    "regionSymbol" : "\u0244",
                },
                {
                    "identifier" : 119,
                    "name" : "Ivory Coast",
                    "regionSymbol" : "\u0248",
                },
                {
                    "identifier" : 120,
                    "name" : "Jersey C.I.",
                    "regionSymbol" : "\u0254",
                },
                {
                    "identifier" : 121,
                    "name" : "Jordan",
                    "regionSymbol" : "\u0258",
                },
                {
                    "identifier" : 122,
                    "name" : "Kazakhstan",
                    "regionSymbol" : "\u0256",
                },
                {
                    "identifier" : 123,
                    "name" : "Kenya",
                    "regionSymbol" : "\u025C",
                },
                {
                    "identifier" : 124,
                    "name" : "Kuwait",
                    "regionSymbol" : "\u0266",
                },
                {
                    "identifier" : 125,
                    "name" : "Lebanon",
                    "regionSymbol" : "\u026E",
                },
                {
                    "identifier" : 126,
                    "name" : "Luxembourg",
                    "regionSymbol" : "\u0282",
                },
                {
                    "identifier" : 127,
                    "name" : "Morocco",
                    "regionSymbol" : "\u02C0",
                },
                {
                    "identifier" : 128,
                    "name" : "Netherlands",
                    "regionSymbol" : "\u02D8",
                },
                {
                    "identifier" : 129,
                    "name" : "Nigeria",
                    "regionSymbol" : "\u02FE",
                },
                {
                    "identifier" : 130,
                    "name" : "Norway",
                    "regionSymbol" : "\u050A",
                },
                {
                    "identifier" : 131,
                    "name" : "Pakistan",
                    "regionSymbol" : "\u0512",
                },
                {
                    "identifier" : 132,
                    "name" : "Poland",
                    "regionSymbol" : "\u0530",
                },
                {
                    "identifier" : 133,
                    "name" : "Portugal",
                    "regionSymbol" : "\u0534",
                },
                {
                    "identifier" : 134,
                    "name" : "Qatar",
                    "regionSymbol" : "\u0542",
                },
                {
                    "identifier" : 135,
                    "name" : "Romania",
                    "regionSymbol" : "\u054A",
                },
                {
                    "identifier" : 136,
                    "name" : "Russia",
                    "regionSymbol" : "\u054B",
                },
                {
                    "identifier" : 137,
                    "name" : "Senegal",
                    "regionSymbol" : "\u0376",
                },
                {
                    "identifier" : 139,
                    "name" : "Slovakia",
                    "regionSymbol" : "\u0387",
                },
                {
                    "identifier" : 140,
                    "name" : "South Africa",
                    "regionSymbol" : "\u038E",
                },
                {
                    "identifier" : 138,
                    "name" : "Spain",
                    "regionSymbol" : "\u039C",
                },
                {
                    "identifier" : 141,
                    "name" : "Sweden",
                    "regionSymbol" : "\u03B8",
                },
                {
                    "identifier" : 142,
                    "name" : "Switzerland",
                    "regionSymbol" : "\u03BC",
                },
                {
                    "identifier" : 143,
                    "name" : "Tanzania",
                    "regionSymbol" : "\u040A",
                },
                {
                    "identifier" : 144,
                    "name" : "Tunisia",
                    "regionSymbol" : "\u03DC",
                },
                {
                    "identifier" : 145,
                    "name" : "Turkey",
                    "regionSymbol" : "\u03E0",
                },
                {
                    "identifier" : 148,
                    "name" : "UAE",
                    "regionSymbol" : "\u03D8",
                },
                {
                    "identifier" : 146,
                    "name" : "Uganda",
                    "regionSymbol" : "\u03E8",
                },
                {
                    "identifier" : 147,
                    "name" : "Ukraine",
                    "regionSymbol" : "\u03EC",
                },
                {
                    "identifier" : 149,
                    "name" : "United Kingdom",
                    "regionSymbol" : "\u0402",
                },
            ]
            
            },
            {
                "identifier" : 2,
                "name" : "NAM",
                "requests" : 800,
                "location" : {"lat" : 43.700000, "long" : -100.0},
                "subregions": 
                [
                    {
                        "identifier": 201,
                        "name": "USA",
                        "regionSymbol" : "\u0410",
                    },
                    {
                        "identifier": 202,
                        "name": "Canada",
                        "regionSymbol" : "\u0144",
                    },
                ]                
            },
            {
                "identifier" : 3,
                "name" : "LATAM",
                "requests" : 150,
                "location" : {"lat" : 3.501314, "long" : -72.872505},
                            "subregions":
            [
                {
                    "identifier" : 301,
                    "name" : "Argentina",
                    "regionSymbol" : "\u00E8",
                },
                {
                    "identifier" : 302,
                    "name" : "Bahamas",
                    "regionSymbol" : "\u00F4",
                },
                {
                    "identifier" : 303,
                    "name" : "Barbados",
                    "regionSymbol" : "\u00FC",
                },
                {
                    "identifier" : 304,
                    "name" : "Brazil",
                    "regionSymbol" : "\u0114",
                },
                {
                    "identifier" : 305,
                    "name" : "Chile",
                    "regionSymbol" : "\u0160",
                },
                {
                    "identifier" : 306,
                    "name" : "Colombia",
                    "regionSymbol" : "\u0172",
                },
                {
                    "identifier" : 307,
                    "name" : "Costa Rica",
                    "regionSymbol" : "\u0184",
                },
                {
                    "identifier" : 308,
                    "name" : "Dominican Republic",
                    "regionSymbol" : "\u019E",
                },
                {
                    "identifier" : 309,
                    "name" : "Ecuador",
                    "regionSymbol" : "\u01A2",
                },
                {
                    "identifier" : 310,
                    "name" : "El Salvador",
                    "regionSymbol" : "\u01A6",
                },
                {
                    "identifier" : 311,
                    "name" : "Guatemala",
                    "regionSymbol" : "\u0208",
                },
                {
                    "identifier" : 312,
                    "name" : "Haiti",
                    "regionSymbol" : "\u0214",
                },
                {
                    "identifier" : 313,
                    "name" : "Honduras",
                    "regionSymbol" : "\u021C",
                },
                {
                    "identifier" : 314,
                    "name" : "Jamaica",
                    "regionSymbol" : "\u024C",
                },
                {
                    "identifier" : 315,
                    "name" : "Mexico",
                    "regionSymbol" : "\u02AC",
                },
                {
                    "identifier" : 316,
                    "name" : "Nicaragua",
                    "regionSymbol" : "\u02F6",
                },
                {
                    "identifier" : 317,
                    "name" : "Panama",
                    "regionSymbol" : "\u0517",
                },
                {
                    "identifier" : 318,
                    "name" : "Paraguay",
                    "regionSymbol" : "\u0520",
                },
                {
                    "identifier" : 319,
                    "name" : "Peru",
                    "regionSymbol" : "\u0524",
                },
                {
                    "identifier" : 320,
                    "name" : "Puerto Rico",
                    "regionSymbol" : "\u053E",
                },
                {
                    "identifier" : 321,
                    "name" : "Trinidad & Tobago",
                    "regionSymbol" : "\u03D4",
                },
                {
                    "identifier" : 322,
                    "name" : "Uruguay",
                    "regionSymbol" : "\u0422",
                },
                {
                    "identifier" : 323,
                    "name" : "Venezuela",
                    "regionSymbol" : "\u0426",
                }

           ]

            },
            {
                "identifier" : 4,
                "name" : "ASIA",
                "requests" : 400,
                "location" : {"lat" : 22.358535, "long" : 114.142271},
            "subregions":
            [
                {
                    "identifier" : 401,
                    "name" : "Australia",
                    "regionSymbol" : "\u00EC",
                },
                {
                    "identifier" : 402,
                    "name" : "Bangladesh",
                    "regionSymbol" : "\u00FA",
                },
                {
                    "identifier" : 404,
                    "name" : "China",
                    "regionSymbol" : "\u0164",
                },
                {
                    "identifier" : 405,
                    "name" : "Hong Kong",
                    "regionSymbol" : "\u0220",
                },
                {
                    "identifier" : 406,
                    "name" : "India",
                    "regionSymbol" : "\u022C",
                },
                {
                    "identifier" : 407,
                    "name" : "Indonesia",
                    "regionSymbol" : "\u0230",
                },
                {
                    "identifier" : 408,
                    "name" : "Japan",
                    "regionSymbol" : "\u0250",
                },
                {
                    "identifier" : 403,
                    "name" : "Macau",
                    "regionSymbol" : "\u0286",
                },
                {
                    "identifier" : 409,
                    "name" : "Malaysia",
                    "regionSymbol" : "\u0292",
                },
                {
                    "identifier" : 410,
                    "name" : "New Zealand",
                    "regionSymbol" : "\u02F2",
                },
                {
                    "identifier" : 411,
                    "name" : "Philippines",
                    "regionSymbol" : "\u0528",
                },
                {
                    "identifier" : 412,
                    "name" : "Singapore",
                    "regionSymbol" : "\u0386",
                },
                {
                    "identifier" : 413,
                    "name" : "South Korea",
                    "regionSymbol" : "\u0262",
                },
                {
                    "identifier" : 414,
                    "name" : "Sri Lanka",
                    "regionSymbol" : "\u0158",
                },
                {
                    "identifier" : 415,
                    "name" : "Taiwan",
                    "regionSymbol" : "\u0166",
                },
                {
                    "identifier" : 416,
                    "name" : "Thailand",
                    "regionSymbol" : "\u03C4",
                },
                {
                    "identifier" : 417,
                    "name" : "Vietnam",
                    "regionSymbol" : "\u0388",
                },
           ]
            }
        ]
        
## EMEA [/regions/1]
EMEA region

### Retrieve a EMEA [GET]
+ Response 200 (application/json)

        [
          {
            "identifier": 1,
            "subregions":
            [
                {
                    "identifier" : 101,
                    "name" : "Algeria",
                    "requests" : 216,
                    "location" : {"lat" : 27.972528, "long" : 1.680449}
                },
                {
                    "identifier" : 102,
                    "name" : "Austria",
                    "requests" : 60,
                    "location" : {"lat" : 47.648006, "long" : 14.844832}
                },
                {
                    "identifier" : 103,
                    "name" : "Bahrain",
                    "requests" : 117,
                    "location" : {"lat" : 25.995459, "long" : 50.588295}
                },
                {
                    "identifier" : 104,
                    "name" : "Belgium",
                    "requests" : 67,
                    "location" : {"lat" : 50.615334, "long" : 4.524691}
                },
                {
                    "identifier" : 105,
                    "name" : "Bulgaria",
                    "requests" : 101,
                    "location" : {"lat" : 42.676997, "long" : 25.429783}
                },
                {
                    "identifier" : 106,
                    "name" : "Cameroon",
                    "requests" : 177,
                    "location" : {"lat" : 4.717083, "long" : 11.747020}
                },
                {
                    "identifier" : 107,
                    "name" : "Congo",
                    "requests" : 56,
                    "location" : {"lat" : -0.229490, "long" : 15.935776}
                },
                {
                    "identifier" : 108,
                    "name" : "Czech Republic",
                    "requests" : 88,
                    "location" : {"lat" : 49.739148, "long" : 15.334474}
                },
                {
                    "identifier" : 109,
                    "name" : "Denmark",
                    "requests" : 114,
                    "location" : {"lat" : 55.959795, "long" : 10.077215}
                },
                {
                    "identifier" : 110,
                    "name" : "Egypt",
                    "requests" : 63,
                    "location" : {"lat" : 25.984796, "long" : 29.406176}
                },
                {
                    "identifier" : 111,
                    "name" : "Finland",
                    "requests" : 3,
                    "location" : {"lat" : 64.010864, "long" : 26.627660}
                },
                {
                    "identifier" : 112,
                    "name" : "France",
                    "requests" : 93,
                    "location" : {"lat" : 46.648713, "long" : 2.621566}
                },
                {
                    "identifier" : 113,
                    "name" : "Gabon",
                    "requests" : 49,
                    "location" : {"lat" : -1.343877, "long" : 11.721494}
                },
                {
                    "identifier" : 114,
                    "name" : "Germany",
                    "requests" : 190,
                    "location" : {"lat" : 50.627542, "long" : 9.958450}
                },
                {
                    "identifier" : 115,
                    "name" : "Greece",
                    "requests" : 205,
                    "location" : {"lat" : 39.069507, "long" : 22.034456}
                },
                {
                    "identifier" : 116,
                    "name" : "Ireland",
                    "requests" : 83,
                    "location" : {"lat" : 53.075668, "long" : -7.836500}
                },
                {
                    "identifier" : 117,
                    "name" : "Israel",
                    "requests" : 224,
                    "location" : {"lat" : 31.467059, "long" : 34.814643}
                },
                {
                    "identifier" : 118,
                    "name" : "Italy",
                    "requests" : 232,
                    "location" : {"lat" : 42.763190, "long" : 12.251522}
                },
                {
                    "identifier" : 119,
                    "name" : "Ivory Coast",
                    "requests" : 98,
                    "location" : {"lat" : 7.547363, "long" : -5.566505}
                },
                {
                    "identifier" : 120,
                    "name" : "Jersey C.I.",
                    "requests" : 94,
                    "location" : {"lat" : 49.214379, "long" : -2.132660}
                },
                {
                    "identifier" : 121,
                    "name" : "Jordan",
                    "requests" : 134,
                    "location" : {"lat" : 31.125730, "long" : 36.392121}
                },
                {
                    "identifier" : 122,
                    "name" : "Kazakhstan",
                    "requests" : 47,
                    "location" : {"lat" : 47.827276, "long" : 67.382857}
                },
                {
                    "identifier" : 123,
                    "name" : "Kenya",
                    "requests" : 21,
                    "location" : {"lat" : 0.500765, "long" : 37.609136}
                },
                {
                    "identifier" : 124,
                    "name" : "Kuwait",
                    "requests" : 97,
                    "location" : {"lat" : 29.360775, "long" : 47.633579}
                },
                {
                    "identifier" : 125,
                    "name" : "Lebanon",
                    "requests" : 186,
                    "location" : {"lat" : 34.191738, "long" : 35.887572}
                },
                {
                    "identifier" : 126,
                    "name" : "Luxembourg",
                    "requests" : 61,
                    "location" : {"lat" : 49.777585, "long" : 6.094806}
                },
                {
                    "identifier" : 127,
                    "name" : "Morocco",
                    "requests" : 98,
                    "location" : {"lat" : 31.713478, "long" : -6.483976}
                },
                {
                    "identifier" : 128,
                    "name" : "Netherlands",
                    "requests" : 196,
                    "location" : {"lat" : 52.730774, "long" : 5.835204}
                },
                {
                    "identifier" : 129,
                    "name" : "Nigeria",
                    "requests" : 237,
                    "location" : {"lat" : 9.553236, "long" : 8.074850}
                },
                {
                    "identifier" : 130,
                    "name" : "Norway",
                    "requests" : 60,
                    "location" : {"lat" : 61.457979, "long" : 8.971401}
                },
                {
                    "identifier" : 131,
                    "name" : "Pakistan",
                    "requests" : 242,
                    "location" : {"lat" : 29.878937, "long" : 69.913918}
                },
                {
                    "identifier" : 132,
                    "name" : "Poland",
                    "requests" : 56,
                    "location" : {"lat" : 52.129535, "long" : 19.394454}
                },
                {
                    "identifier" : 133,
                    "name" : "Portugal",
                    "requests" : 223,
                    "location" : {"lat" : 39.658470, "long" : -8.244460}
                },
                {
                    "identifier" : 134,
                    "name" : "Qatar",
                    "requests" : 40,
                    "location" : {"lat" : 25.525388, "long" : 51.217536}
                },
                {
                    "identifier" : 135,
                    "name" : "Romania",
                    "requests" : 124,
                    "location" : {"lat" : 45.780363, "long" : 24.990706}
                },
                {
                    "identifier" : 136,
                    "name" : "Russia",
                    "requests" : 57,
                    "location" : {"lat" : 61.987429, "long" : 96.714855}
                },
                {
                    "identifier" : 137,
                    "name" : "Senegal",
                    "requests" : 87,
                    "location" : {"lat" : 14.502785, "long" : -14.654668}
                },
                {
                    "identifier" : 139,
                    "name" : "Slovakia",
                    "requests" : 217,
                    "location" : {"lat" : 48.706566, "long" : 19.487012}
                },
                {
                    "identifier" : 140,
                    "name" : "South Africa",
                    "requests" : 84,
                    "location" : {"lat" : -29.140993, "long" : 24.367460}
                },
                {
                    "identifier" : 138,
                    "name" : "Spain",
                    "requests" : 31,
                    "location" : {"lat" : 41.270000, "long" : -3.210000}
                },
                {
                    "identifier" : 141,
                    "name" : "Sweden",
                    "requests" : 95,
                    "location" : {"lat" : 62.736314, "long" : 15.365470}
                },
                {
                    "identifier" : 142,
                    "name" : "Switzerland",
                    "requests" : 88,
                    "location" : {"lat" : 46.715779, "long" : 8.402655}
                },
                {
                    "identifier" : 143,
                    "name" : "Tanzania",
                    "requests" : 18,
                    "location" : {"lat" : -6.453096, "long" : 34.894539}
                },
                {
                    "identifier" : 144,
                    "name" : "Tunisia",
                    "requests" : 146,
                    "location" : {"lat" : 34.207649, "long" : 9.465427}
                },
                {
                    "identifier" : 145,
                    "name" : "Turkey",
                    "requests" : 173,
                    "location" : {"lat" : 39.061415, "long" : 35.124582}
                },
                {
                    "identifier" : 148,
                    "name" : "UAE",
                    "requests" : 111,
                    "location" : {"lat" : 24.091352, "long" : 54.123035}
                },
                {
                    "identifier" : 146,
                    "name" : "Uganda",
                    "requests" : 0,
                    "location" : {"lat" : 1.105402, "long" : 32.520620}
                },
                {
                    "identifier" : 147,
                    "name" : "Ukraine",
                    "requests" : 110,
                    "location" : {"lat" : 49.395662, "long" : 30.980984}
                },
                {
                    "identifier" : 149,
                    "name" : "United Kingdom",
                    "requests" : 240,
                    "location" : {"lat" : 54.260582, "long" : -1.979057}
                }
            ]
          }
        ]

## NAM [/regions/2]
NAM region

### Retrieve a NAM [GET]
+ Response 200 (application/json)

        [
          {
            "identifier": 2,
            "subregions": 
            [
              {
                "identifier": 201,
                "requests" : 1000,
                "name": "USA",
                "location" : {"lat" :38.53973304, "long" : -82.07850336}
              },
              {
                "identifier": 202,
                "requests" : 800,
                "name": "Canada",
                "location" : {"lat" :49.15196596, "long" : -118.03238143}
              }
            ]
          }
        ]

## LATAM [/regions/3]
LATAM region

### Retrieve a LATAM [GET]
+ Response 200 (application/json)

        [
          {
            "identifier": 3,
            "subregions":
            [
                {
                    "identifier" : 301,
                    "name" : "Argentina",
                    "requests" : 75,
                    "location" : {"lat" : -37.157467, "long" : -64.316465}
                },
                {
                    "identifier" : 302,
                    "name" : "Bahamas",
                    "requests" : 66,
                    "location" : {"lat" : 25.000000, "long" : -77.400000}
                },
                {
                    "identifier" : 303,
                    "name" : "Barbados",
                    "requests" : 90,
                    "location" : {"lat" : 13.169025, "long" : -59.555144}
                },
                {
                    "identifier" : 304,
                    "name" : "Brazil",
                    "requests" : 24,
                    "location" : {"lat" : -9.683468, "long" : -52.308555}
                },
                {
                    "identifier" : 305,
                    "name" : "Chile",
                    "requests" : 178,
                    "location" : {"lat" : -34.572976, "long" : -71.095732}
                },
                {
                    "identifier" : 306,
                    "name" : "Colombia",
                    "requests" : 35,
                    "location" : {"lat" : 3.501314, "long" : -72.872505}
                },
                {
                    "identifier" : 307,
                    "name" : "Costa Rica",
                    "requests" : 214,
                    "location" : {"lat" : 9.845554, "long" : -83.862439}
                },
                {
                    "identifier" : 308,
                    "name" : "Dominican Republic",
                    "requests" : 87,
                    "location" : {"lat" : 18.892313, "long" : -70.206847}
                },
                {
                    "identifier" : 309,
                    "name" : "Ecuador",
                    "requests" : 240,
                    "location" : {"lat" : -1.519327, "long" : -78.356744}
                },
                {
                    "identifier" : 310,
                    "name" : "El Salvador",
                    "requests" : 229,
                    "location" : {"lat" : 13.631710, "long" : -88.910934}
                },
                {
                    "identifier" : 311,
                    "name" : "Guatemala",
                    "requests" : 74,
                    "location" : {"lat" : 15.609342, "long" : -90.560028}
                },
                {
                    "identifier" : 312,
                    "name" : "Haiti",
                    "requests" : 213,
                    "location" : {"lat" : 20.000000, "long" : -73.000000}
                },
                {
                    "identifier" : 313,
                    "name" : "Honduras",
                    "requests" : 151,
                    "location" : {"lat" : 14.504704, "long" : -87.225643}
                },
                {
                    "identifier" : 314,
                    "name" : "Jamaica",
                    "requests" : 61,
                    "location" : {"lat" : 18.115368, "long" : -77.160905}
                },
                {
                    "identifier" : 315,
                    "name" : "Mexico",
                    "requests" : 127,
                    "location" : {"lat" : 22.406570, "long" : -101.844884}
                },
                {
                    "identifier" : 316,
                    "name" : "Nicaragua",
                    "requests" : 99,
                    "location" : {"lat" : 12.139432, "long" : -84.908726}
                },
                {
                    "identifier" : 317,
                    "name" : "Panama",
                    "requests" : 236,
                    "location" : {"lat" : 8.641033, "long" : -80.405860}
                },
                {
                    "identifier" : 318,
                    "name" : "Paraguay",
                    "requests" : 23,
                    "location" : {"lat" : -23.487637, "long" : -58.305235}
                },
                {
                    "identifier" : 319,
                    "name" : "Peru",
                    "requests" : 53,
                    "location" : {"lat" : -9.788561, "long" : -75.516214}
                },
                {
                    "identifier" : 320,
                    "name" : "Puerto Rico",
                    "requests" : 147,
                    "location" : {"lat" : 18.215691, "long" : -66.414655}
                },
                {
                    "identifier" : 321,
                    "name" : "Trinidad & Tobago",
                    "requests" : 15,
                    "location" : {"lat" : 10.485968, "long" : -61.255908}
                },
                {
                    "identifier" : 322,
                    "name" : "Uruguay",
                    "requests" : 30,
                    "location" : {"lat" : -33.121092, "long" : -55.900528}
                },
                {
                    "identifier" : 323,
                    "name" : "Venezuela",
                    "requests" : 157,
                    "location" : {"lat" : 7.076774, "long" : -66.091605}
                }

           ]
          }
        ]

## ASIA [/regions/4]
ASIA region

### Retrieve a ASIA [GET]
+ Response 200 (application/json)

        [
          {
            "identifier": 4,
            "subregions":
            [
                {
                    "identifier" : 401,
                    "name" : "Australia",
                    "requests" : 237,
                    "location" : {"lat" : -25.047944, "long" : 134.003347}
                },
                {
                    "identifier" : 402,
                    "name" : "Bangladesh",
                    "requests" : 127,
                    "location" : {"lat" : 23.795572, "long" : 90.283221}
                },
                {
                    "identifier" : 404,
                    "name" : "China",
                    "requests" : 8,
                    "location" : {"lat" : 34.740765, "long" : 101.319735}
                },
                {
                    "identifier" : 405,
                    "name" : "Hong Kong",
                    "requests" : 77,
                    "location" : {"lat" : 23.500000, "long" : 114.500000}
                },
                {
                    "identifier" : 406,
                    "name" : "India",
                    "requests" : 244,
                    "location" : {"lat" : 23.041173, "long" : 78.891805}
                },
                {
                    "identifier" : 407,
                    "name" : "Indonesia",
                    "requests" : 80,
                    "location" : {"lat" : -3.187229, "long" : 119.851232}
                },
                {
                    "identifier" : 408,
                    "name" : "Japan",
                    "requests" : 90,
                    "location" : {"lat" : 38.280000, "long" : 140.460000}
                },
                {
                    "identifier" : 403,
                    "name" : "Macau",
                    "requests" : 73,
                    "location" : {"lat" : 22.000000, "long" : 113.000000}
                },
                {
                    "identifier" : 409,
                    "name" : "Malaysia",
                    "requests" : 1,
                    "location" : {"lat" : 3.988639, "long" : 102.064055}
                },
                {
                    "identifier" : 410,
                    "name" : "New Zealand",
                    "requests" : 39,
                    "location" : {"lat" : -45.000000, "long" : 168.000000}
                },
                {
                    "identifier" : 411,
                    "name" : "Philippines",
                    "requests" : 21,
                    "location" : {"lat" : 12.415512, "long" : 123.431038}
                },
                {
                    "identifier" : 412,
                    "name" : "Singapore",
                    "requests" : 112,
                    "location" : {"lat" : 1.356203, "long" : 103.828142}
                },
                {
                    "identifier" : 413,
                    "name" : "South Korea",
                    "requests" : 228,
                    "location" : {"lat" : 36.458351, "long" : 127.855841}
                },
                {
                    "identifier" : 414,
                    "name" : "Sri Lanka",
                    "requests" : 49,
                    "location" : {"lat" : 7.517242, "long" : 80.779494}
                },
                {
                    "identifier" : 415,
                    "name" : "Taiwan",
                    "requests" : 164,
                    "location" : {"lat" : 23.752054, "long" : 120.927318}
                },
                {
                    "identifier" : 416,
                    "name" : "Thailand",
                    "requests" : 222,
                    "location" : {"lat" : 15.660392, "long" : 101.520053}
                },
                {
                    "identifier" : 417,
                    "name" : "Vietnam",
                    "requests" : 214,
                    "location" : {"lat" : 13.318655, "long" : 108.368100}
                },
                {
                    "identifier" : 401,
                    "name" : "Australia",
                    "requests" : 237,
                    "location" : {"lat" : -25.047944, "long" : 134.003347}
                },
                {
                    "identifier" : 402,
                    "name" : "Bangladesh",
                    "requests" : 127,
                    "location" : {"lat" : 23.795572, "long" : 90.283221}
                },
                {
                    "identifier" : 404,
                    "name" : "China",
                    "requests" : 8,
                    "location" : {"lat" : 34.740765, "long" : 101.319735}
                },
                {
                    "identifier" : 405,
                    "name" : "Hong Kong",
                    "requests" : 77,
                    "location" : {"lat" : 23.500000, "long" : 114.500000}
                },
                {
                    "identifier" : 406,
                    "name" : "India",
                    "requests" : 244,
                    "location" : {"lat" : 23.041173, "long" : 78.891805}
                },
                {
                    "identifier" : 407,
                    "name" : "Indonesia",
                    "requests" : 80,
                    "location" : {"lat" : -3.187229, "long" : 119.851232}
                },
                {
                    "identifier" : 408,
                    "name" : "Japan",
                    "requests" : 90,
                    "location" : {"lat" : 38.280000, "long" : 140.460000}
                },
                {
                    "identifier" : 403,
                    "name" : "Macau",
                    "requests" : 73,
                    "location" : {"lat" : 22.000000, "long" : 113.000000}
                },
                {
                    "identifier" : 409,
                    "name" : "Malaysia",
                    "requests" : 1,
                    "location" : {"lat" : 3.988639, "long" : 102.064055}
                },
                {
                    "identifier" : 410,
                    "name" : "New Zealand",
                    "requests" : 39,
                    "location" : {"lat" : -45.000000, "long" : 168.000000}
                },
                {
                    "identifier" : 411,
                    "name" : "Philippines",
                    "requests" : 21,
                    "location" : {"lat" : 12.415512, "long" : 123.431038}
                },
                {
                    "identifier" : 412,
                    "name" : "Singapore",
                    "requests" : 112,
                    "location" : {"lat" : 1.356203, "long" : 103.828142}
                },
                {
                    "identifier" : 413,
                    "name" : "South Korea",
                    "requests" : 228,
                    "location" : {"lat" : 36.458351, "long" : 127.855841}
                },
                {
                    "identifier" : 414,
                    "name" : "Sri Lanka",
                    "requests" : 49,
                    "location" : {"lat" : 7.517242, "long" : 80.779494}
                },
                {
                    "identifier" : 415,
                    "name" : "Taiwan",
                    "requests" : 0,
                    "location" : {"lat" : 23.752054, "long" : 120.927318}
                },
                {
                    "identifier" : 416,
                    "name" : "Thailand",
                    "requests" : 222,
                    "location" : {"lat" : 15.660392, "long" : 101.520053}
                },
                {
                    "identifier" : 417,
                    "name" : "Vietnam",
                    "requests" : 214,
                    "location" : {"lat" : 13.318655, "long" : 108.368100}
                }
           ]
          }
        ]


## GLOBAL CONTACTS  [/contacts?region=1]
GLOBAL requests

### Retrieve a GLOBAL request per type [GET]
+ Response 200 (application/json)

        {
            "contact" : "Renzo Arconia\n renzo.arconia@city.com\n 39-27-128-89",
            "office" : "CItiBank N.A.\n via merachanti\n  34212, milano",
        }

## GLOBAL REQUEST PER TYPE  [/statistic?region=0&group=1]
GLOBAL requests

### Retrieve a GLOBAL request per type [GET]
+ Response 200 (application/json)

        {
            "requests" :
            [
              {
                "type": "Statement Account Name & Address Changes",
                "count": 1203
              },
              {
                "type": "E-Statement Set Up",
                "count": 213
              },
              {
                "type": "eBAM Changes",
                "count": 392
              },
              {
                "type": "CitiDirect Entitlements",
                "count": 12
              },
              {
                "type": "Cash Pooling Set Up",
                "count": 0
              },
              {
                "type": "E Invoice Set Up",
                "count": 123
              },
              {
                "type": "Billing Account Name & Address Change",
                "count": 974
              },
              {
                "type": "Audit Certificates",
                "count": 1500
              },
              {
                "type": "Target Balancing Set Up",
                "count": 783
              },
              {
                "type": "Legal Hierarchy, Address & Name Changes",
                "count": 999
              },
              {
                "type": "Account Opening",
                "count": 111
              },
            ]
        }
 
 
## GLOBAL REQUEST PER TYPE  [/statistic?region=1&group=1]
EMEA requests

### Retrieve a GLOBAL request per type [GET]
+ Response 200 (application/json)
 
        {
            "region" : 1,
            "requests" :
            [
              {
                "type": "Statement Account Name & Address Changes",
                "count": 123
              },
              {
                "type": "E-Statement Set Up",
                "count": 211
              },
              {
                "type": "eBAM Changes",
                "count": 1231
              },
              {
                "type": "CitiDirect Entitlements",
                "count": 0
              },
              {
                "type": "Cash Pooling Set Up",
                "count": 123
              },
              {
                "type": "E Invoice Set Up",
                "count": 311
              },
              {
                "type": "Billing Account Name & Address Change",
                "count": 12
              },
              {
                "type": "Audit Certificates",
                "count": 1
              },
              {
                "type": "Target Balancing Set Up",
                "count": 10
              },
              {
                "type": "Legal Hierarchy, Address & Name Changes",
                "count": 777
              },
              {
                "type": "Account Opening",
                "count": 888
              },
            ]
        }


## GLOBAL REQUEST PER STATE  [/statistic?region=1&group=2]
EMEA requests

### Retrieve a GLOBAL request per type [GET]
+ Response 200 (application/json)
 
        {
            "region" : 1,
            "requests" :
            [
              {
                "type": "New",
                "count": 123
              },
              {
                "type": "Assigned",
                "count": 211
              },
              {
                "type": "In progress",
                "count": 1231
              },
            {
                "type": "Complete",
                "count": 57
              },
            
            ]
        }

## GLOBAL REQUEST PER USER Group  [/statistic?region=1&group=3]
EMEA requests

### Retrieve a GLOBAL request per type [GET]
+ Response 200 (application/json)
 
        {
            "region" : 1,
            "requests" :
            [
              {
                "type": "COE Team",
                "count": 50
              },
              {
                "type": "ASU",
                "count": 211
              },
              {
                "type": "DOC Specialist",
                "count": 1231
              },
              {
                "type": "Country/Hub",
                "count": 0
              },
            ]
        }


## EMEA REQUEST PER TYPE  [/statistic?region=1&group=4]
EMEA requests

### Retrieve a GLOBAL request per type [GET]
+ Response 200 (application/json)
 
        {
            "region" : 1,
            "requests" :
            [
              {
                "year": 2013,
                "month" : 1,
                "count": 150
              },
              {
                "year": 2013,
                "month" : 2,
                "count": 151
              },
              {
                "year": 2013,
                "month" : 3,
                "count": 155
              },
              {
                "year": 2013,
                "month" : 4,
                "count": 180
              },
              {
                "year": 2013,
                "month" : 5,
                "count": 160
              },
              {
                "year": 2013,
                "month" : 6,
                "count": 130
              },
              {
                "year": 2013,
                "month" : 7,
                "count": 110
              },
              {
                "year": 2013,
                "month" : 8,
                "count": 190
              },
              {
                "year": 2013,
                "month" : 9,
                "count": 226
              },
              {
                "year": 2013,
                "month" : 10,
                "count": 230
              },
              {
                "year": 2013,
                "month" : 11,
                "count": 260
              },
              {
                "year": 2013,
                "month" : 12,
                "count": 237
              },
              {
                "year": 2014,
                "month" : 1,
                "count": 170
              },
              {
                "year": 2014,
                "month" : 2,
                "count": 221
              },
              {
                "year": 2014,
                "month" : 3,
                "count": 215
              },
              {
                "year": 2014,
                "month" : 4,
                "count": 255
              },
              {
                "year": 2014,
                "month" : 5,
                "count": 240
              },
              {
                "year": 2014,
                "month" : 6,
                "count": 230
              },
              {
                "year": 2014,
                "month" : 7,
                "count": 220
              },
            ]
        }

## ONBOARD REQUESTS [/requests]
Onboard requests

### Retrieve a onboard requests for dashboard [GET]
+ Response 200 (application/json)

        [
            {
                "requestID" : "RQ000001",
                "assignee" : "Jacqueline  Cascardi",
                "clientName" : "Sun Life Financial",
                "country" : "Germany",
                "requestState" : "Assigned",
                "requestType" : "InfoRequest",
                "creationDate" : 1407767151,
            },
            {
                "requestID" : "RQ000002",
                "assignee" : "Eileen McEnroe",
                "clientName" : "Xerox",
                "country" : "USA",
                "requestState" : "Submitted",
                "requestType" : "NewClient",
                "creationDate" : 1407507951,
            },
            {
                "requestID" : "RQ000003",
                "assignee" : "Eileen McEnroe",
                "clientName" : "Xerox",
                "country" : "Netherlands",
                "requestState" : "Completed",
                "requestType" : "ClientSearch",
                "creationDate" : 1407162351,
            },
            {
                "requestID" : "RQ000004",
                "assignee" : "Safronov Roman",
                "clientName" : "AT&T",
                "country" : "Italy",
                "requestState" : "Submitted",
                "requestType" : "NewClient",
                "creationDate" : 1407335151,
            },
            {
                "requestID" : "RQ000005",
                "assignee" : "Safronov Roman",
                "clientName" : "Nokia",
                "country" : "Italy",
                "requestState" : "Draft",
                "requestType" : "SignatureUpdate",
                "creationDate" : 1407507951,
            },
            {
                "requestID" : "RQ000006",
                "assignee" : "Jacqueline  Cascardi",
                "clientName" : "AVON PRODUCTS INCORPORATED",
                "country" : "United Kingdom",
                "requestState" : "Submitted",
                "requestType" : "SignatureUpdate",
                "creationDate" : 1407680751,
            },
            {
                "requestID" : "RQ000007",
                "assignee" : "Jacqueline  Cascardi",
                "clientName" : "AT&T",
                "country" : "Netherlands",
                "requestState" : "Progress",
                "requestType" : "NewFund",
                "creationDate" : 1407767151,
            },
            {
                "requestID" : "RQ000008",
                "assignee" : "Jacqueline  Cascardi",
                "clientName" : "Arkema",
                "country" : "Portugal",
                "requestState" : "Completed",
                "requestType" : "ExistClient",
                "creationDate" : 1407853551,
            },
            {
                "requestID" : "RQ000009",
                "assignee" : "Eileen McEnroe",
                "clientName" : "INTERACTIVE BROKERS GROUP INCORPORATED",
                "country" : "USA",
                "requestState" : "Completed",
                "requestType" : "ClientSearch",
                "creationDate" : 1407594351,
            },
            {
                "requestID" : "RQ000010",
                "assignee" : "Safronov Roman",
                "clientName" : "Johnson & Johnson",
                "country" : "Spain",
                "requestState" : "Assigned",
                "requestType" : "NewProduct",
                "creationDate" : 1407680751,
            },
            {
                "requestID" : "RQ000011",
                "assignee" : "Safronov Roman",
                "clientName" : "Sun Life Financial",
                "country" : "Netherlands",
                "requestState" : "Assigned",
                "requestType" : "SignatureUpdate",
                "creationDate" : 1407680751,
            },
            {
                "requestID" : "RQ000012",
                "assignee" : "Nancy Desai",
                "clientName" : "Arkema",
                "country" : "Ireland",
                "requestState" : "Submitted",
                "requestType" : "InfoRequest",
                "creationDate" : 1407853551,
            },
            {
                "requestID" : "RQ000013",
                "assignee" : "Jacqueline  Cascardi",
                "clientName" : "Sun Life Financial",
                "country" : "Italy",
                "requestState" : "Waiting",
                "requestType" : "DocRequest",
                "creationDate" : 1407421551,
            },
            {
                "requestID" : "RQ000014",
                "assignee" : "Denis Urusov",
                "clientName" : "AVON PRODUCTS INCORPORATED",
                "country" : "Italy",
                "requestState" : "Waiting",
                "requestType" : "NewClient",
                "creationDate" : 1407853551,
            },
            {
                "requestID" : "RQ000015",
                "assignee" : "Denis Urusov",
                "clientName" : "Johnson & Johnson",
                "country" : "Italy",
                "requestState" : "Assigned",
                "requestType" : "NewClient",
                "creationDate" : 1407248751,
            },
            {
                "requestID" : "RQ000016",
                "assignee" : "Eileen McEnroe",
                "clientName" : "Xerox",
                "country" : "Germany",
                "requestState" : "Waiting",
                "requestType" : "Inflight",
                "creationDate" : 1407421551,
            },
            {
                "requestID" : "RQ000017",
                "assignee" : "Safronov Roman",
                "clientName" : "Nokia",
                "country" : "Denmark",
                "requestState" : "Draft",
                "requestType" : "NewProduct",
                "creationDate" : 1407335151,
            },
            {
                "requestID" : "RQ000018",
                "assignee" : "Denis Urusov",
                "clientName" : "Johnson & Johnson",
                "country" : "Portugal",
                "requestState" : "Assigned",
                "requestType" : "NewFund",
                "creationDate" : 1407335151,
            },
            {
                "requestID" : "RQ000019",
                "assignee" : "Eileen McEnroe",
                "clientName" : "Computer Associates",
                "country" : "Germany",
                "requestState" : "Completed",
                "requestType" : "DocRequest",
                "creationDate" : 1407507951,
            },
            {
                "requestID" : "RQ000020",
                "assignee" : "Nancy Desai",
                "clientName" : "Johnson & Johnson",
                "country" : "Greece",
                "requestState" : "Submitted",
                "requestType" : "SignatureUpdate",
                "creationDate" : 1407767151,
            },
            {
                "requestID" : "RQ000021",
                "assignee" : "Eileen McEnroe",
                "clientName" : "AT&T",
                "country" : "Ireland",
                "requestState" : "Waiting",
                "requestType" : "ClientSearch",
                "creationDate" : 1407248751,
            },
            {
                "requestID" : "RQ000022",
                "assignee" : "Denis Urusov",
                "clientName" : "Sun Life Financial",
                "country" : "Norway",
                "requestState" : "Draft",
                "requestType" : "ClientSearch",
                "creationDate" : 1407507951,
            },
            {
                "requestID" : "RQ000023",
                "assignee" : "Safronov Roman",
                "clientName" : "AT&T",
                "country" : "Belgium",
                "requestState" : "Progress",
                "requestType" : "NewClient",
                "creationDate" : 1407767151,
            },
            {
                "requestID" : "RQ000024",
                "assignee" : "Nancy Desai",
                "clientName" : "AVON PRODUCTS INCORPORATED",
                "country" : "Luxembourg",
                "requestState" : "Progress",
                "requestType" : "DocRequest",
                "creationDate" : 1407335151,
            },
            {
                "requestID" : "RQ000025",
                "assignee" : "Safronov Roman",
                "clientName" : "AVON PRODUCTS INCORPORATED",
                "country" : "United Kingdom",
                "requestState" : "Submitted",
                "requestType" : "SignatureUpdate",
                "creationDate" : 1407421551,
            },
            {
                "requestID" : "RQ000026",
                "assignee" : "Oleksii Matiash",
                "clientName" : "AT&T",
                "country" : "Italy",
                "requestState" : "Progress",
                "requestType" : "NewProduct",
                "creationDate" : 1407680751,
            },
            {
                "requestID" : "RQ000027",
                "assignee" : "Jacqueline  Cascardi",
                "clientName" : "Johnson & Johnson",
                "country" : "Belgium",
                "requestState" : "Draft",
                "requestType" : "NewClient",
                "creationDate" : 1407421551,
            },
            {
                "requestID" : "RQ000028",
                "assignee" : "Denis Urusov",
                "clientName" : "Xerox",
                "country" : "Austria",
                "requestState" : "Waiting",
                "requestType" : "Inflight",
                "creationDate" : 1407594351,
            },
            {
                "requestID" : "RQ000029",
                "assignee" : "Safronov Roman",
                "clientName" : "Sun Life Financial",
                "country" : "Luxembourg",
                "requestState" : "Draft",
                "requestType" : "ClientSearch",
                "creationDate" : 1407248751,
            },
            {
                "requestID" : "RQ000030",
                "assignee" : "Safronov Roman",
                "clientName" : "Sun Life Financial",
                "country" : "Luxembourg",
                "requestState" : "Progress",
                "requestType" : "ClientSearch",
                "creationDate" : 1407335151,
            },
            {
                "requestID" : "RQ000031",
                "assignee" : "Jacqueline  Cascardi",
                "clientName" : "AT&T",
                "country" : "Luxembourg",
                "requestState" : "Progress",
                "requestType" : "ExistClient",
                "creationDate" : 1407507951,
            },
            {
                "requestID" : "RQ000032",
                "assignee" : "Safronov Roman",
                "clientName" : "INTERACTIVE BROKERS GROUP INCORPORATED",
                "country" : "Sweden",
                "requestState" : "Waiting",
                "requestType" : "DocRequest",
                "creationDate" : 1407248751,
            },
            {
                "requestID" : "RQ000033",
                "assignee" : "Jacqueline  Cascardi",
                "clientName" : "Computer Associates",
                "country" : "Italy",
                "requestState" : "Assigned",
                "requestType" : "ClientSearch",
                "creationDate" : 1407853551,
            },
            {
                "requestID" : "RQ000034",
                "assignee" : "Nancy Desai",
                "clientName" : "Computer Associates",
                "country" : "Spain",
                "requestState" : "Submitted",
                "requestType" : "SignatureUpdate",
                "creationDate" : 1407421551,
            },
            {
                "requestID" : "RQ000035",
                "assignee" : "Eileen McEnroe",
                "clientName" : "Arkema",
                "country" : "Jersey C.I.",
                "requestState" : "Completed",
                "requestType" : "DocRequest",
                "creationDate" : 1407335151,
            },
            {
                "requestID" : "RQ000036",
                "assignee" : "Nancy Desai",
                "clientName" : "INTERACTIVE BROKERS GROUP INCORPORATED",
                "country" : "USA",
                "requestState" : "Assigned",
                "requestType" : "SignatureUpdate",
                "creationDate" : 1407853551,
            },
            {
                "requestID" : "RQ000037",
                "assignee" : "Eileen McEnroe",
                "clientName" : "Sun Life Financial",
                "country" : "Jersey C.I.",
                "requestState" : "Progress",
                "requestType" : "InfoRequest",
                "creationDate" : 1407248751,
            },
            {
                "requestID" : "RQ000038",
                "assignee" : "Denis Urusov",
                "clientName" : "Arkema",
                "country" : "Finland",
                "requestState" : "Submitted",
                "requestType" : "InfoRequest",
                "creationDate" : 1407853551,
            },
            {
                "requestID" : "RQ000039",
                "assignee" : "Eileen McEnroe",
                "clientName" : "Sun Life Financial",
                "country" : "France",
                "requestState" : "Assigned",
                "requestType" : "DocRequest",
                "creationDate" : 1407594351,
            },
            {
                "requestID" : "RQ000040",
                "assignee" : "Denis Urusov",
                "clientName" : "Nokia",
                "country" : "Belgium",
                "requestState" : "Progress",
                "requestType" : "NewFund",
                "creationDate" : 1407162351,
            },
            {
                "requestID" : "RQ000041",
                "assignee" : "Oleksii Matiash",
                "clientName" : "AT&T",
                "country" : "Finland",
                "requestState" : "Draft",
                "requestType" : "NewClient",
                "creationDate" : 1407767151,
            },
            {
                "requestID" : "RQ000042",
                "assignee" : "Oleksii Matiash",
                "clientName" : "INTERACTIVE BROKERS GROUP INCORPORATED",
                "country" : "Netherlands",
                "requestState" : "Progress",
                "requestType" : "Inflight",
                "creationDate" : 1407248751,
            },
            {
                "requestID" : "RQ000043",
                "assignee" : "Eileen McEnroe",
                "clientName" : "Johnson & Johnson",
                "country" : "Netherlands",
                "requestState" : "Progress",
                "requestType" : "NewClient",
                "creationDate" : 1407853551,
            },
            {
                "requestID" : "RQ000044",
                "assignee" : "Nancy Desai",
                "clientName" : "AT&T",
                "country" : "Germany",
                "requestState" : "Submitted",
                "requestType" : "ExistClient",
                "creationDate" : 1407939951,
            },
            {
                "requestID" : "RQ000045",
                "assignee" : "Jacqueline  Cascardi",
                "clientName" : "INTERACTIVE BROKERS GROUP INCORPORATED",
                "country" : "Norway",
                "requestState" : "Waiting",
                "requestType" : "Inflight",
                "creationDate" : 1407507951,
            },
            {
                "requestID" : "RQ000046",
                "assignee" : "Nancy Desai",
                "clientName" : "Computer Associates",
                "country" : "Luxembourg",
                "requestState" : "Assigned",
                "requestType" : "DocRequest",
                "creationDate" : 1407335151,
            },
            {
                "requestID" : "RQ000047",
                "assignee" : "Eileen McEnroe",
                "clientName" : "Nokia",
                "country" : "Luxembourg",
                "requestState" : "Draft",
                "requestType" : "ClientSearch",
                "creationDate" : 1407767151,
            },
            {
                "requestID" : "RQ000048",
                "assignee" : "Safronov Roman",
                "clientName" : "Nokia",
                "country" : "United Kingdom",
                "requestState" : "Completed",
                "requestType" : "InfoRequest",
                "creationDate" : 1407507951,
            },
            {
                "requestID" : "RQ000049",
                "assignee" : "Oleksii Matiash",
                "clientName" : "Xerox",
                "country" : "Finland",
                "requestState" : "Submitted",
                "requestType" : "NewProduct",
                "creationDate" : 1407680751,
            },
            {
                "requestID" : "RQ000050",
                "assignee" : "Denis Urusov",
                "clientName" : "Arkema",
                "country" : "Portugal",
                "requestState" : "Assigned",
                "requestType" : "Inflight",
                "creationDate" : 1407421551,
            },
         ]
         
## ONBOARD REQUEST 1 documents [/documents&requestID=1]
Onboard request documents

### Retrieve a onboard requests for dashboard [GET]
+ Response 200 (application/json)

        {
            "documents" :
            [
                {
                    "documentID" : "1",
                    "name" : "Evidence of Existence of IM",
                    "description" : "Please provide Evidence of Existence of the Investment Manager. From  a national or regional registry, Lexis Nexis, Dun & Bradstreet, OneSource, Bankers almanac, Markit. Obtain 1. Full name,  2. Registered number",
                    "updateDate" : 1407680751,
                    "author" : "Mary Lee",
                },  
                {
                "documentID" : "2",
                    "name" : "Evidence of Appointment of IM",
                    "description" : "Please provide Evidence of the appointment of the Investment Manager to the fund. This evidence can be in the form of Offering Memorandum/Prospectus",
                    "author" : "COB Lead",
                },
                {
                "documentID" : "3",
                    "name" : "Portfolio Disclosure",
                    "description" : "Portfolio Disclosure/Investor Newsletter/ Schedule of Investments",
                    "author" : "COB Lead",
                },
                {
                "documentID" : "4",
                    "name" : "Non-US Tax ID",
                    "description" : "Proof of Non-US Tax ID",
                    "author" : "COB Lead",
                },
                {
                "documentID" : "5",
                    "name" : "Trust ID pages",
                    "description" : "Trust Identification Pages 8557 (pages noting the name of the Trust, Trustee name(s), and signature pages) AND Trustee Certification (5035).",
                    "author" : "COB Lead",
                },
                {
                "documentID" : "6",
                    "name" : "Annual Report Year 2013",
                    "description" : "Latest Annual Report",
                    "author" : "COB Lead",
                    "url" : "bundle://ar13c_en.pdf"
                },
                {
                "documentID" : "7",
                    "name" : "KYC Form - NAM",
                    "description" : "MGGP Form",
                    "author" : "COB Lead",
                    "url" : "bundle://Management.pdf"
                },
                {
                "documentID" : "8",
                    "name" : "Shareholder Passport",
                    "description" : "Certified copy of a current passport/national identity card for any shareholders that ultimately own 25% or more of the company",
                    "author" : "COB Lead",
                }
            ],
        }
        
## ONBOARD REQUEST 2 documents [/documents&requestID=2]
Onboard request documents

### Retrieve a onboard requests for dashboard [GET]
+ Response 200 (application/json)

        {
            "documents" :
            [
                {
                "documentID" : "6",
                    "name" : "Evidence of Existence of IM",
                    "description" : "Please provide Evidence of Existence of the Investment Manager. From  a national or regional registry, Lexis Nexis, Dun & Bradstreet, OneSource, Bankers almanac, Markit. Obtain 1. Full name,  2. Registered number",
                    "updateDate" : 1407680751,
                    "author" : "Mary Lee",
                    "url" : "https://app.apiary.io/",
                },  
                {
                "documentID" : "7",
                    "name" : "Trust ID Pages (non-US)",
                    "description" : "Trust Identification Pages 8557 (pages noting the name of the Trust, Trustee name(s), and signature pages).",
                    "author" : "COBLead",
                },
                {
                "documentID" : "8",
                    "name" : "Portfolio Disclosure",
                    "description" : "Portfolio Disclosure/Investor Newsletter/ Schedule of Investments",
                    "author" : "COBLead",
                },
                {
                "documentID" : "9",
                    "name" : "W9",
                    "description" : "W9 if have US Tax ID",
                    "author" : "COBLead",
                },
                {
                "documentID" : "10",
                    "name" : "Trust ID pages",
                    "description" : "Trust Identification Pages 8557 (pages noting the name of the Trust, Trustee name(s), and signature pages) AND Trustee Certification (5035).",
                    "author" : "COBLead",
                }
            ],
        }
        
## ONBOARD REQUEST 3 documents [/documents&requestID=3]
Onboard request documents

### Retrieve a onboard requests for dashboard [GET]
+ Response 200 (application/json)

        {
            "documents" :
            [
                {
                "documentID" : "11",
                    "name" : "Evidence of Existence of IM",
                    "description" : "Please provide Evidence of Existence of the Investment Manager. From  a national or regional registry, Lexis Nexis, Dun & Bradstreet, OneSource, Bankers almanac, Markit. Obtain 1. Full name,  2. Registered number",
                    "updateDate" : 1407680751,
                    "author" : "Mary Lee",
                    "url" : "https://app.apiary.io/",
                },  
                {
                "documentID" : "12",
                    "name" : "Annual Financial Statement",
                    "description" : "Latest Audited Annual Financial Statements",
                    "author" : "COBLead",
                },
                {
                "documentID" : "13",
                    "name" : "Portfolio Disclosure",
                    "description" : "Portfolio Disclosure/Investor Newsletter/ Schedule of Investments",
                    "author" : "COBLead",
                },
                {
                "documentID" : "14",
                    "name" : "LP Agreement",
                    "description" : "Signed Limited Partnership Agreement",
                    "author" : "COBLead",
                },
                {
                "documentID" : "15",
                    "name" : "Trust ID pages",
                    "description" : "Trust Identification Pages 8557 (pages noting the name of the Trust, Trustee name(s), and signature pages) AND Trustee Certification (5035).",
                    "author" : "COBLead",
                }
            ],
        }

## ONBOARD REQUEST 1 Details [/requests&requestID=1]
Onboard request details

### Retrieve a onboard requests for dashboard [GET]
+ Response 200 (application/json)

        {
            "initiator" : "Eileen McEnroe",
            "requestSummary" : "Some reuqest summary",
            "managementSummary" : "Some reuqest summary \n management details shoud be there",
            "mailstones" : 
            [
                {
                    "isCompleate" : 1,
                    "header" : "Submit Request",
                    "asigner" : "sale 19",
                    "date" : 1407680751,
                }, 
                {
                    "isCompleate" : 1,
                    "header" : "Assign COB Analyst",
                    "asigner" : "COBLead",
                    "date" : 1407690751,
                }, 
                {
                    "isCompleate" : 1,
                    "header" : "Start Processing",
                    "asigner" : "Manny P",
                    "date" : 1407700751,
                }, 
                {
                    "isCompleate" : 0,
                    "header" : "fill questionnaries (2 of 12 reg.)",
                    "asigner" : "Manny P",
                    "date" : 1407710751,
                    "milestones" : 
                    [
                
                        {
                            "isCompleate" : 1,
                            "header" : "Activates Workflows",
                            "asigner" : "test 12",
                            "date" : 1407750751,
                        }, 
                        {
                            "isCompleate" : 0,
                            "header" : "Fill in Signer Details",
                            "asigner" : "test 12",
                            "date" : 1407760751,
                        }, 
                    ]
                },
            ],
        }
        
## ONBOARD REQUEST 2 Details [/requests&requestID=2]
Onboard request details

### Retrieve a onboard requests for dashboard [GET]
+ Response 200 (application/json)

        {
            "initiator" : "Jacqueline  Cascardi",
            "mailstones" : 
            [
                {
                    "isCompleate" : 1,
                    "header" : "Submit Request",
                    "asigner" : "sale 19",
                    "date" : 1407680751,
                }, 
                {
                    "isCompleate" : 1,
                    "header" : "Assign COB Analyst",
                    "asigner" : "COBLead",
                    "date" : 1407690751,
                }, 
                {
                    "isCompleate" : 1,
                    "header" : "Start Processing",
                    "asigner" : "Manny P",
                    "date" : 1407700751,
                }, 
                {
                    "isCompleate" : 0,
                    "header" : "Fill Questionnaries (2 of 12 reg.)",
                    "asigner" : "Manny P",
                    "date" : 1407710751,
                    "milestones" : 
                    [
                
                        {
                            "isCompleate" : 1,
                            "header" : "Activates Workflows",
                            "asigner" : "test 12",
                            "date" : 1407750751,
                        }, 
                        {
                            "isCompleate" : 0,
                            "header" : "Fill in Signer Details",
                            "asigner" : "test 12",
                            "date" : 1407760751,
                        }, 
                    ]
                },
            ],
        }
        
## ONBOARD REQUEST 3 Details [/requests&requestID=3]
Onboard request details

### Retrieve a onboard requests for dashboard [GET]
+ Response 200 (application/json)

        {
            "initiator" : "Oleksii Matiash",
            "mailstones" : 
            [
                {
                    "isCompleate" : 1,
                    "header" : "Submit Request",
                    "asigner" : "sale 19",
                    "date" : 1407680751,
                }, 
                {
                    "isCompleate" : 1,
                    "header" : "Asign COB Analyst",
                    "asigner" : "COBLead",
                    "date" : 1407690751,
                }, 
                {
                    "isCompleate" : 1,
                    "header" : "Start Processing",
                    "asigner" : "Manny P",
                    "date" : 1407700751,
                }, 
                {
                    "isCompleate" : 0,
                    "header" : "fill questionnaries (2 of 12 reg.)",
                    "asigner" : "Manny P",
                    "date" : 1407710751,
                    "milestones" : 
                    [
                
                        {
                            "isCompleate" : 1,
                            "header" : "Activates Workflows",
                            "asigner" : "test 12",
                            "date" : 1407750751,
                        }, 
                        {
                            "isCompleate" : 0,
                            "header" : "Fill in Signer Details",
                            "asigner" : "test 12",
                            "date" : 1407760751,
                        }, 
                    ]
                },
            ],
            "comments" :
                [
                    {
                        "author" : "Mykhailo Vorontsov",
                        "message" : "Hello World!",
                        "date" : 1407767151,
                    },
                    {
                        "author" : "Tetiana Zavialova",
                        "message" : "Hello",
                        "date" : 1407752451,
                    },
                ]
        }    

## GLOBAL CONTACTS  [/contacts?regionsContact]
GLOBAL requests

### Retrieve a GLOBAL request per type [GET]
+ Response 200 (application/json)

        [
        {   
            "identifier" : 101,
            "contact" : "Ramz Hamzaoui\nramz.hamzaoui@citi.com\n213-2-198-1989\n213-2-154-8185",
            "office" : "Citibank N.A.\n7, Rue Larbi Alik\nHydra, Algiers"
        },
        {   
            "identifier" : 102,
            "contact" : "Michael Edelsbrunner\nmichael.edelsbrunner@citi.com\n43-1-7171-7400\n43-1-928-0512",
            "office" : "Citibank International plc\nAustria Branch\nKaerntner Ring 11-13\nA-1010 Vienna\nAustria"
        },
        {   
            "identifier" : 103,
            "contact" : "Mazin Manna\nmazin.manna@citi.com\n973-17-588-600\n973-17-583-000",
            "office" : "Citibank N.A.\nCitibank House 1133-Road 2819\nAlSeef District 428"
        },
        {   
            "identifier" : 104,
            "contact" : "Pim Nederpel\npim.nederpel@citi.com\n32-2-641-9410\n32-2-731-1333",
            "office" : "Citibank International plc\nBelgium Branch\n29 Boulevard Louis Schmidtlaan,\nB - 1040 Brussels"
        },
        {   
            "identifier" : 105,
            "contact" : "Stefan Felstein\nstefan.felstein@citi.com\n359-2-9175-111\n359-2-98199-14",
            "office" : "Citibank Europe plc, Bulgaria Branch\n2, Maria Louisa Blvd.\nTZUM Business Center, 5th floor\nSofia 1000"
        },
        {   
            "identifier" : 106,
            "contact" : "Akintayo Dada\nakin.dada@citi.com\n2373-342-4109\n2373-343-8560",
            "office" : "Citibank N.A.\nCentre d’Affaires Flatters\n96, Rue Flatters\nP.O. Box 4571, Douala"
        },
        {   
            "identifier" : 107,
            "contact" : "Viviane Bakayoko\nviviane.bakayoko@citi.com\n243-81-700-7000\n243-81-555-4812",
            "office" : "Citibank (Congo) S.A.R.L.\nCitibank Building - Coin des Avenue\nColonel Lukusa et Ngongo-Lutete\nB.P. 9999\nKinshasa - Gombe"
        },
        {   
            "identifier" : 108,
            "contact" : "Michal Nebesky\nmichal.nebesky@citi.com\n420-23-306-2277\n420-23-306-1653",
            "office" : "Citibank Europe plc\nBucharova 2641/14\n158 02 Prague 5\nCzech Republic"
        },
        {   
            "identifier" : 109,
            "contact" : "Mikkel Grønlykke\nmikkel.gronlykke@citi.com\n45-3363-8310\n45-3363-8333",
            "office" : "Citibank International plc\nH.C. Andersens Boulevard 12,\nDK-1553 Copenhagen V, Denmark"
        },
        {   
            "identifier" : 110,
            "contact" : "Nadir Shaikh\nnadir.shaikh@citi.com\n202-279-13-524\nor 202 -261-88-757\n202-279-22-782",
            "office" : "Main Office\nCitibank N.A.\n8, Ahmed Pasha Street\nGarden City\n11511 Cairo, Egypt"
        },
        {   
            "identifier" : 111,
            "contact" : "Kari Laukkanen\nkari.laukkanen@citi.com\n358-9-3488-7200\n358-9-4159-2304",
            "office" : "Citigroup International plc\nFinland Branch\nAleksanterinkatu 48A\nP.O. Box 980, Helsinki 00101"
        },
        {   
            "identifier" : 112,
            "contact" : "Arnaud de Marmiés\narnaud.demarmies@citi.com\n33-1-7075-5252\n33-1-7075-5292",
            "office" : "Citibank International plc\n1-5 rue Paul Cézanne\n75008 Paris"
        },
        {   
            "identifier" : 113,
            "contact" : "Juliette Weisflog\njuliette.weisflog@citi.com\n00241-0144-6603\n00241-73-8505",
            "office" : "Citibank Gabon S.A.\n810 Boulevard Quaben et Rue Kringer\nBP 3940\nLibreville"
        },
        {   
            "identifier" : 114,
            "contact" : "Stefan Wintels\nstefan.wintels@citi.com\n49-69-1366-5645\n49-69-2222-3338",
            "office" : "Citigroup Gbl Mkts Dtl AG\nReuterweg 16\n60323 Frankfurt am Main\nGermany"
        },
        {   
            "identifier" : 115,
            "contact" : "Grant Carson\ngrant.carson@citi.com\n30-210-818-6505\n30-210-620-3770",
            "office" : "Citibank International Plc\n3 Achaias & Trizinias street\n145 64, Nea Kifisia, Athens\nAnd\n8 Othonos street,\n105 57, Athens"
        },
        {   
            "identifier" : 116,
            "contact" : "Aidan Brady\naidan.brady@citi.com\n3531-622-6400\n3531-622-6633",
            "office" : "Citibank N.A.\n1 North Wall Quay\nDublin 1"
        },
        {   
            "identifier" : 117,
            "contact" : "Neil Corney\nneil.corney@citi.com\n972-3-684-2460\n972-3684-2403",
            "office" : "Citibank N.A.\nPlatinum Building, 11th Floor\n21, Ha’arba’a Street\n64739 Tel Aviv"
        },
        {   
            "identifier" : 118,
            "contact" : "Renzo Arcoria\nrenzo.arcoria@citi.com\n39-028-906-4379",
            "office" : "Citibank N.A.\nvia Mercanti, 12\n20121 , Milano"
        },
        {   
            "identifier" : 119,
            "contact" : "Kevin Murray\nkevin.a.murray@citi.com\n225-20-20-9010\n225-20-21-7685",
            "office" : "Citigroup/Citibank Cote d'Ivoire\n28 Avenue Delafosse\nImmeuble Botreau Roussel\nAbidjan 01, Cote d'Ivoire, Africa 01 B.P.\n3698"
        },
        {   
            "identifier" : 120,
            "contact" : "Sarah Fitzgerald\n+44 (0) 1534-608-101",
            "office" : "Citibank (Channel Islands) Limited\nP O Box 104\n38 Esplanade\nSt Helier\nJersey JE4 8QB\nChannel Islands"
        },
        {   
            "identifier" : 121,
            "contact" : "Mayank Malik\nmayank.malik@citi.com\n962-6-567-1600\n962-6-565-3902",
            "office" : "Citibank N.A.\nP.O. Box 5055\nPrince Shaker Ban-Zeid Street\nShmeisani, 11183 Amman"
        },
        {   
            "identifier" : 122,
[...]
